<div class="main-card flex flex-col rounded-2xl">
    <header class="top-bar rounded-t-2xl w-full flex flex-row items-center mb-4">
        <img [src]="chatRoom" alt="chat-room-icon" class="chat-icon h-4/6 ml-6 mr-3">
        <h2 class="topbar-title font-bold text-3xl">{{title}}</h2>
        <img [src]="menu" alt="menu-icon" class="menu-icon h-3/6 mr-4 cursor-pointer ml-auto">
    </header>

    <div class="flex-grow bg-red-100 w-11/12 mx-auto">

        <main id="content" role="main" class="w-full max-w-md mx-auto p-6">
            <div class="mt-7 bg-white  rounded-xl shadow-lg bg-gray-50">
              <div class="p-4 sm:p-7">
                <div class="text-center">
                  <h1 class="block text-2xl font-bold text-gray-600">Welcome to Chatify</h1>
                  <p class="mt-2 text-sm text-gray-600 dark:text-gray-400">
                    Enter your name to join the room! 
                  </p>
                </div>
        
                <div class="mt-5">
                  <form>
                    <div class="grid gap-y-4">
                      <div>
                        <div class="relative">
                          <input #inputbox type="email" id="email" name="email" class="py-3 px-4 block w-full border-2 border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 shadow-sm" placeholder="your name here..." required aria-describedby="email-error">
                        </div>
                      </div>
                      <button type="submit" class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-green-500 text-white hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm">Join Chat</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </main>


    </div>

    <footer class="input-message-box relative flex place-content-center items-center">
        @if (showEmojis){
            <emoji-picker (emoji-click)="getEmoji($event)" class="light absolute bottom-5 mb-14 left-0 w-6/12 h-64 -ml-40 drawer"></emoji-picker>
        }        
        <img [src]="smiley" alt="smiley-icon" (click)="toggleEmojiDrawer()" class="h-2/5 absolute left-smiley cursor-pointer">

        <input type="text" class="w-11/12 h-3/5 pl-14 rounded-3xl shadow pl-[4rem]" [(ngModel)]="inputString" (input)="onInput()" placeholder="{{inputPlaceholder}}" alt="input-box">
        <img [src]="send" alt="send-icon" class="h-2/5 absolute right-send cursor-pointer">
    </footer>
</div> 